.box {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  overflow-y: scroll;
  margin: auto;
}

body {
  height: 3000px;
}

.container {
  text-align: center;
}

#chk:disabled + label {
  color: lightgray;
}

.status-bar {
  width: 0;
  height: 5px;
  background: lightcoral;

  position: fixed;
  top: 0;
}