* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

ul > li {
  display: inline-block;
  margin-right: 5px;
}

ul a {
  text-decoration: none;
  color: black;
}

ul a:active {
  background: red;
  color: white;
}

.boxes {
  margin-top: 100px;
  width: 100%;
}

.box {
  width: 50px;
  height: 50px;
  float: left;
  margin-left: 30px;
}

.box1 {
  background: pink;
}

.box2 {
  background: moccasin;
}

.box3 {
  background: skyblue;
}

.box4 {
  background: lightgreen;
}


.box:hover {
  transform: scale(1.5, 1.5);
}