* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#id:focus, #pw:focus {
  background: lightgrey;
}

ul {
  list-style-type: none;
}

ul > li {
  display: inline-block;
  margin-right: 5px;
}

ul a {
  text-decoration: none;
  color: blue;
}

ul a:hover {
  background: red;
  color: white;
}

.boxes {
  margin-top: 100px;
}

.box {
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 50px;

  transition: all 0.5s ease;
}

.box1 {
  background: pink;
}

.box2 {
  background: moccasin;
}

.box3 {
  background: skyblue;
}

.box4 {
  background: lightgreen;
}


.box:hover {
  box-shadow: 2px 2px 10px lightgrey;
  transform: scale(1.3);
}