.nav > li {
  list-style-type: none;
  float: left;
  width: 20%;
  text-align: center;
}

.nav {
  /* float 때문에 nav가 차지하고 있는 영역이 0이 되면서 배경색이 적용 안 됨 */
  background-color: skyblue;
  height: 30px;
}

a {
  text-decoration: none;
}

i {
  font-size: 30px;
  color: red;
}